@import "~bootstrap/scss/bootstrap";

.debug {
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 1px solid black;
}

.main-wrapper {
    margin-top: 54px;

    .content {
        overflow: auto;
        height: calc(100vh - 54px);
    }
}

.aside {
    margin: 0;
    padding: 0;
    background-color: red;

    nav {
        padding: 20px 15px;

        ul {
            list-style: none;
            padding: 0;
            li {
                margin-bottom: 5px;
                &:hover {
                    border-radius: 5px;
                    background-color: white;
                }
                &:hover a {
                    color: #0d6efd;
                }
                a {
                    color: white;
                    padding: 5px 10px;
                    text-decoration: none;
                    display: block;
                    width: 100%;
                    height: 100%;
                    i {
                        padding-right: 10px;
                    }
                }
            }
        }
    }

    .active {
        border-radius: 5px;
        background-color: white;
        a {
            color: #0d6efd;
        }
    }
}

.card {
    height: 100%;
    img {
        height: 100%;
        object-fit: cover;
    }
}

.ck-editor__editable[role="textbox"] {
    min-height: 300px;
}
